.interactive-map-marker .leaflet-popup-content {
  width: auto !important;
  margin: 0 !important;
}

.interactive-map-marker .leaflet-popup-content-wrapper {
  padding: 0 !important;
  border: none !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  box-shadow: none;
}

.interactive-map-marker .leaflet-tooltip {
  padding: 0 !important;
  border: none !important;
  border-radius: 8px !important;
  white-space: normal !important;
  background-color: transparent !important;
  box-shadow: none;
}

.interactive-map-marker .leaflet-tooltip::before {
  display: none !important;
}

.interactive-map-marker .leaflet-popup-tip-container {
  display: none !important;
}

/* .geo-json-city-item {
  transition: all 250ms ease;
  outline: none !important;
}

.geo-json-city-item:hover {
  fill: black;
} */
