.interactive-map-marker .leaflet-popup-content {
  width: auto !important;
  margin: 0 !important;
}

.interactive-map-marker .leaflet-popup-content-wrapper {
  padding: 0 !important;
  border: none !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  box-shadow: none;
}

.interactive-map-marker .leaflet-tooltip {
  padding: 0 !important;
  border: none !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  box-shadow: none;
}

.interactive-map-marker .leaflet-tooltip::before {
  display: none !important;
}

.interactive-map-marker .leaflet-popup-tip-container {
  display: none !important;
}

.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out,
.dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
