@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='date'],
input[type='time'] {
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: transparent;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }
  &:focus {
    background: rgba(0, 0, 0, 0);
  }
}

input[type='date'] {
  padding-left: 28px;
}
input[type='time'] {
  padding-left: 45px;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  margin-bottom: 8px;

  background: #f1f1f1;
}

.dark .custom-scroll::-webkit-scrollbar-track {
  background: #121923;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #858e97;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #485058;
}

/* --- admin --- */

/* modal */

/* button */

.button-common {
  @apply min-h-[49px] min-w-[182px]  cursor-pointer rounded-md border border-admin-dark font-exo_2 text-xl font-bold disabled:cursor-not-allowed;
}
.button-confirm {
  @apply button-common bg-admin-dark  text-white disabled:border-state-disabled disabled:bg-state-disabled;
}
.button-close {
  @apply button-common bg-admin-light_3 text-admin-dark;
}

.input-wrapper {
  @apply flex flex-col items-center justify-center gap-5 rounded bg-admin-light_3 px-2.5 py-5
  shadow-sm;
}

.input-label {
  @apply py-2.5 font-source_sans_3 text-xl font-bold leading-[27px] text-admin-dark;
}
