.swiper {
  width: 100%;
  height: 380px;
  padding-bottom: 80px;
  margin-top: 32px;
}

.swiper-slide {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .swiper {
    height: 696px;
    margin-top: 60px;
  }
  .swiper-slide {
    height: calc((100% - 16px) / 2) !important;
  }
}

@media (min-width: 960px) {
  .swiper {
    height: 710px;
  }
  .swiper-slide {
    height: calc((100% - 30px) / 2) !important;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 100%;
    max-width: 328px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #060606;
  opacity: 0.1;
}

.dark .swiper-pagination-bullet {
  background-color: #f2f2f2;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #000;
  opacity: 1;
}

.dark .swiper-pagination-bullet-active {
  background-color: #ffd646;
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-bottom: 32px;
}
